<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="expenses" value="https://localhost:44317/frontend/get-monthly-expenses" />
    <add key="income" value="https://localhost:44317/frontend/get-monthly-income" />
    <add key="balance" value="https://localhost:44317/frontend/get-monthly-balance" />
  </appSettings>
</configuration>