.main-form-container {
    border-radius: 20px;
}
.row:after {
    display: table;
    clear:both;
    content: "";
}

/*Status bars*/
.welcoming-container {
    width: 75%;
    float: left;
    align-self:center;
    background-color: rgb(95, 95, 95);
    border-radius: 20px;
    text-align: center;
    vertical-align:middle;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.welcome-message {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:20pt;
    width: 100%;
}

.status-column {
    width: 75%;
    float: left;
    align-self: center;
    background-color: rgb(95, 95, 95);
    border-radius: 20px;
    text-align: left;
    padding: 5px 35px 5px 35px;
    margin: auto;
    vertical-align:middle;
}
#status-icon {
    color:rgb(226, 102, 0);
    font-size: 36pt;
    width: 20%;
    float: left;
    padding-top: 20px;
}
.status-label {
    width: 50%;
    float:left;
    font-family:'Poppins', sans-serif;
    font-weight: 0;
    font-size: 14pt;
    color: white;
    text-align: end;
    padding-right: 25px;
    padding-top: 10px;
}
.status-number {
    width: 30%;
    float:left;
    font-family:'Calibri';
    font-size: 42pt;
    color:#E26600;
}

.spacer {
    margin:25px;
}
.spacer2 {
    margin: 75px;
}

/*Options, modals etc.*/
.option-column {
    width: 50%;
    float: left;
}
.main-form-button-left {
    background-color:rgb(226, 102, 0);
    border-radius:50px;
    width:200pt;
    height: 35pt;
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:rgb(242, 228, 255);
    float: right;
    margin:10px;
    border-width:0px;
    outline: none!important;
}
.main-form-button-right {
    background-color:rgb(26, 26, 26);
    border-radius:50px;
    width:200pt;
    height: 35pt;
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:rgb(242, 228, 255);
    float: left;
    margin: 10px;
    border-width:5px;
    border-color: rgb(226, 102, 0);
    outline: none!important;
}
.modal-button {
    background-color:rgb(226, 102, 0);
    border-radius:50px;
    width:200pt;
    height: 35pt;
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:rgb(242, 228, 255);
    align-self: center;
    border-width:0px;
    margin: 5px;
    outline: none!important;
}

.modal-button-container {
    text-align: center;
}
.income-component > form > input {
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
    color: rgb(242, 228, 255);
    width: 40%;
    font-size: 12pt;
    padding: 5px 5px 5px 5px;
    outline: none;
}
.income-component > form > p {
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:rgb(242, 228, 255);
    width: 50%;
    display:inline-block;
}
.recurring-income-component > form > input {
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
    color: rgb(242, 228, 255);
    width: 40%;
    font-size: 12pt;
    padding: 5px 5px 5px 5px;
    outline: none;
}
.recurring-income-component > form > p {
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:rgb(242, 228, 255);
    width: 50%;
    display:inline-block;
}

/*Goal Information section*/
.goal-info-container {
    width: 75%;
    float: left;
    align-self:center;
    background-color: rgb(95, 95, 95);
    border-radius: 20px;
    text-align: center;
    vertical-align:middle;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}
.goal-info-message {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:20pt;
    width: 100%;
}
.goal-amount-label {
    font-family:'Poppins', sans-serif;
    font-weight: 0;
    font-size: 14pt;
    color: white;
    text-align: start;
    padding-top: 10px;
}
.goal-time-label {
    font-family:'Poppins', sans-serif;
    font-weight: 0;
    font-size: 14pt;
    color: white;
    text-align: start;
    padding-top: 10px;
}
.goal-amount-number {
    font-family:'Calibri';
    font-size: 42pt;
    color:#E26600;
    width: 60px;
    float: left;
}
.goal-time-units {
    font-family:'Calibri';
    font-size: 18pt;
    color:#E26600;
    width: 10%;
    float: left;
    margin-left: 0vh;
    margin-top: 3.5vh;
}
circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  .goal-progress-circle-container {
      margin-left: 200px;
  }
  .progress-percentage {
      color:white;
      font-size: 18pt;
      width:20%;
      position: relative;
      left: 40px;
      top: -90px;
      height: 0px;
  }
  
  /*Category-load*/
  .category-load-container {
    padding: 20px;
    height: auto;
    width: 100%;
    background-color: rgb(26, 26, 26);
    min-height: 100vh;
  }
  .only-categories-container {
      width:100%;
      float:unset;
  }
  .expense-container {
    width: 30%;
    height: 19vh;
    float: left;
    background-color: rgb(95, 95, 95);
    border-radius: 20px;
    margin: 15px;
    text-align: center;
}
  .expense-label {
    width: 100%;
    font-family:'Poppins', sans-serif;
    font-weight: 0;
    font-size: 14pt;
    color: white;
    padding-top: 10px;
}
.expense-category-amount {
    font-family:'Calibri';
    font-size: 42pt;
    color:#E26600;
    width: 100%;
}
.expense-add-button {
    background-color:rgb(226, 102, 0);
    border-radius:50px;
    width:180pt;
    height: 30pt;
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:rgb(242, 228, 255);
    align-self: center;
    border-width:0px;
    margin: 5px;
    outline: none!important;
}
.category-load-button-row {
      width: 100%;
      float: none;
      display: block;
      clear: both;
      justify-content:center;
      display: flex;
}
.category-add-modal-component > form > input {
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
    color: rgb(242, 228, 255);
    width: 40%;
    font-size: 12pt;
    padding: 5px 5px 5px 5px;
    outline: none;
}
.category-add-modal-component > form > p {
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:rgb(242, 228, 255);
    width: 50%;
    display: flex;
    justify-content: center;;
    float: left;
}

.expense-component > form > div > input {
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
    color: rgb(242, 228, 255);
    width: 40%;
    font-size: 12pt;
    padding: 5px 5px 5px 5px;
    outline: none;
    margin: none;
}
.expense-component > form > div > p {
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:rgb(242, 228, 255);
    width: 40%;
    margin: none;
    margin-left: 50px;
}